* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;

}

/* ================ Header ================*/
.header {
  background-color: #968bd6;
  /* height: 60vh; */
  padding: 20px 0;
  position: relative;
}

.title {
  font-size: 30px;
  background: -webkit-linear-gradient(
    45deg,
    rgb(0, 0, 0),
    rgb(179, 39, 48)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 25px rgba(211, 72, 114, 0.5);
  font-weight: bold;
  text-align: center;
}

.suptitle {
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}

.name {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.group {
  color: rgb(0, 0, 0);
  font-size: 18px;
  /* font-style: italic; */
}

/* ================ About ================*/
.about {
  padding: 50px 0;
}

.about__title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.about__suptitle {
  margin: 30px 0;
}

.card {
  min-height: 150px;
}

.license_input {
  border: 2px solid #968bd6; 
  border-radius: 3px;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  -khtml-border-radius: 3px; 
  background: #ffffff !important; 
  outline: none; 
  height: 60px;
  width: 30%; 
  color: #ac2828;
  font-size: 36px; 
  text-align: center;
}


.license_format_text {
  color: gray;
  /* font-style: italic; */
  font-size: 16px;
  padding-bottom: 10px;
}

.license_format {
  color: gray;
  font-weight: bold;
  font-style:italic;
  font-size: 16px;
  padding-bottom: 10px;
}

.row_license {
  text-align: center;
  margin-bottom: 30px;
}

.nav-link {
  margin: 20px;
}

.link_section {
  background-color: #968bd6;
  padding: 30px 0;
}

.link_title {
  font-weight: bold;
  font-size: small;
  background: -webkit-linear-gradient(
    45deg,
    rgb(0, 0, 0),
    rgb(179, 39, 48)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  text-align: center;
}

.database_link {
  font-weight: bold;
  font-size: small;
  background: -webkit-linear-gradient(
    45deg,
    rgb(69, 31, 204),
    rgb(71, 139, 194)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
  text-align: center;
}

.text-loan_link {
  font-weight: bold;
  font-size: small;
  background: -webkit-linear-gradient(
    45deg,
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
  text-align: center;
}

.footer__suptitle {
  color: rgb(159, 159, 159);
  font-size: 16px;
  padding-left: 50px;
}

.btn {
  border-radius: 100px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 17px 39px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
  text-transform: uppercase;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
}

.row_buttons {
  text-align: center;
  margin: 30px;
}

.btn-success{
  border-radius: 100px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 17px 39px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
  text-transform: uppercase;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#05ac50+0,21dd72+50,05c44e+51,05ac50+71,05ac50+100 */
  background: #05ac50;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #05ac50 0%, #21dd72 50%, #05c44e 51%, #05ac50 71%, #05ac50 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #05ac50 0%,#21dd72 50%,#05c44e 51%,#05ac50 71%,#05ac50 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #05ac50 0%,#21dd72 50%,#05c44e 51%,#05ac50 71%,#05ac50 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05ac50', endColorstr='#05ac50',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-size: 400% 400%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
  border: medium none;
}

.btn-outline-success:hover {
  border-radius: 100px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 17px 39px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
  text-transform: uppercase;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);

  background-color: #5a7ce2;
  border-color: #5a7ce2;
  color: #fff;
 }

 .btn-outline-success:hover {
  background-color: #5a7ce2;
  border-color: #5a7ce2;
  color: #fff;
 }

 .btn-success:hover {
  background-color: #5a7ce2;
  border-color: #5a7ce2;
  color: #fff;
 }

a {
  color: white;
  text-decoration: none;
  text-align: center;
}